$main:#036BCB;
$border:#C1C7D0;
$lightgray:#ACB1C1;
$second:#1768E2;
$text:#082555;
$text1:#0E2342;
nz-spin{
    height: 100%;
    ::ng-deep{
        .ant-spin-container{
            height: 100%;
        }
    }
}
.login-canvas{
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    .box-image{
        width: 50%;
        position: relative;
        background-color: #0E4FAD;
        padding: 20px;
        background-size: 100% auto;
        background-position: bottom center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .logo{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            flex-direction: column;
            row-gap: 20px;
        }
        .image{
            max-width: 100%;
            text-align: center;
            flex: 1;
            
            img{
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
        .copyright{
            color: #fff;
            display: flex;
            align-items: center;
            column-gap: 7px;
        }
    }
    .box-form{
        flex: 1;
    }
    .box-form{
        padding: 30px 20px;
        max-width: 420px;
        width: 100%;
        margin: auto;

    }
    .logo{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        font-family: "Lora","Tahoma";
        font-weight: bold;
        font-size: 30px;
        color: $text1;
        justify-content: center;
        align-items: center;
        .img{
            width: 120px;
            margin-right: 10px;
            img{
                width: 100%;
            }
        } 
        .text-content{
            flex: 1;
        }
    }
    .main-title{
        margin-bottom: 20px;
        margin-top: 0px;
        font-size: 32px;
        color: $main;
        font-weight: bold;
    }
    .form-group{
        margin-bottom: 20px;
    }
    .label-text{
        margin-bottom: 3px;
    }
    .form-control{
        border-radius: 8px;
        border: 1px solid $border;
        width: 100%;
        padding: 5px 10px;
        height: 40px;
        font-size: 1rem;
        
        transition: all 0.3s ease;
        outline: 0px;
        &:focus{
            transition: all 0.3s ease;
            border-color: $main;
        }
       
        
    }
    .btn-submit{
        width: 100%;
        height: 40px;
        border-radius: 6px;
    }
    .input-icon-right{
        position: relative;
        .form-control{
            padding-right: 30px;
        }
        .icon{
            width: 30px;
            height: 32px;
            position: absolute;
            line-height: 32px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
            color: $lightgray;
            font-size: 1.125rem;
            cursor: pointer;
            &:hover{
                color: $text1;
            }
        }
    }
    .forgot{
        text-align: right;
        .link{
            font-weight: bold;
            color: $main;
            &:hover{
                text-decoration: underline;
                color: $main;
            }
        }
    }
    .actions{
        margin-top: 20px;
    }
    
    .bottom{
        text-align: center;
        font-weight: 600;
        .link{
            color: $second;
            font-weight: 600;
            &:hover{
                color: $main;
                text-decoration: underline;
            }
        }
    }
    .head-box{
        margin-bottom: 30px;
        .main-title{
            margin-bottom: 10px;
        }
        .desc{
            color: #384C61;
        }
    }
    .select-custom {
        position: relative;

        .form-control {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding-right: 25px !important;
        }

        &:before {
            content: "";
            position: absolute;
            width: 0px;
            top: 0px;
            right: 7px;
            text-align: center;
            bottom: 0px;
            width: 0px;
            pointer-events: none;
            height: 0px;
            border-top: 4px solid $border;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            line-height: 1.428rem;
            margin: auto;
        

        }
    }
    .form-captcha{
        display: flex;
        align-items: center;
        .captcha-code{
            border-radius: 6px;
            border: 1px solid $main;
            height: 40px;
            img{
                height: 100%;
                width: auto;
                
            }
        }
        .btn-second{
            background-color: #fff;
            border-radius: 6px;
            border: 1px solid $border;
            color: $main;
            font-size: 16px;
            padding: 7px 10px;
            height: 40px;
            cursor: pointer;
            &:hover{
                background-color: $main;
                color: #fff;
                border-color: $main;
            }
        }
    }
    ::ng-deep{
        .ant-input-affix-wrapper{
            padding: 0px 10px;
            border-radius: 6px;
            .form-control{
                border: 0px;
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }

}
.view-pass{
    font-size: 20px;
    cursor: pointer;
}
@media(max-width:768px){
    body,html{
        font-size: 14px;
    }
    .login-canvas{
        display: block;
        height: auto;
        padding: 30px 0px;
        padding-top: 10px;
        .logo{
            font-size: 16px;
        }
        .box-image{
            display: none;
        }
        .copyright{
            color: $text;
            width: 100%;
            
        }
    }
    
}
